{%extends 'layout.template.html'%}

{%block title%}{%endblock%}
{%block h1%}THIS IS THE ABOUT PAGE{%endblock%}

{%block nav%}
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="index.html">Feliciano</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	        	<li class="nav-item"><a href={{url_for('index')}} class="nav-link">Home</a></li>
	        	<li class="nav-item active"><a href={{url_for('about')}} class="nav-link">About</a></li>
	        	<li class="nav-item"><a href={{url_for('menu')}} class="nav-link">Menu</a></li>
	        	<li class="nav-item"><a href="blog.html" class="nav-link">Reviews</a></li> <!--blog-->
	          <li class="nav-item"><a href={{url_for('add_review')}} class="nav-link">Add A Review</a></li>
	          <li class="nav-item cta"><a href={{url_for('see_all_reviews')}} class="nav-link">See All Reviews</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>

{%endblock%}

{%block content%}

{%endblock%}