<!--This page displays the review form for user to add a review-->
<!--Page calls layout template-->
{%extends 'layout.template.html'%}

{%block title%}&nbsp;- Add Review{%endblock%}

{%block content%}
    <div class='container bt-4 mt-4 pt-4'>
        <br><br>
        <h2 class="justify-content-center" style="font-family: 'Roboto', sans-serif; color: #7B6B5C; text-align: center;">Add Review</h2>
        <br><br>
        <p>We would love to hear from you! Share your experience on our reviews page:</p>
        
        <!--Form template for review form fields to be included into when called from 'review_form.template.html' -->
        <form class="form b-2 m-3 pt-4 needs-validation" enctype="multipart/form-data" method="POST">
            
            <!--calling of form fields from the template-->
            {%include "review_form.template.html"%}
            
            <!--To store review in the 'Reviews' collection-->
            <input type='submit' value='Create' class='btn btn-primary' />  
            
            <!--Returns to 'All Reviews' page without any input storage to 'Reviews' collection-->
            <a class="btn btn-primary" href="{{url_for('see_all_reviews')}}">Cancel</a>  
        </form> 
     
    </div>    
{%endblock%}