{%extends 'layout.template.html'%}

{%block title%}{%endblock%}
{%block h1%}{%endblock%}

{%block content%}
<h2 class="justify-content-center" style="text-align: center;">Add A Review</h2>
<div class='container mt-4 pt-4'>

    <form class="form b-2 m-3 pt-4 needs-validation" enctype="multipart/form-data" method="POST">
        {%include "review_form.template.html"%}
        <input type='submit' value='Create' class='btn btn-primary' />
        <a class="btn btn-primary" href="{{url_for('see_all_reviews')}}">Cancel</a>  
    </form> 
</div>    
{%endblock%}