{%extends 'layout.template.html'%}

{%block title%}{%endblock%}
{%block h1%}{%endblock%}

{%block nav%}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link " href={{url_for('index')}}>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href={{url_for('about')}}>About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{url_for('menu')}}>Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{url_for('add_review')}}>Add Review</a>
  </li>   
  <li class="nav-item">
    <a class="nav-link" href={{url_for('see_all_reviews')}}>Contact</a>
  </li>
</ul>
<h1 class="nav justify-content-center">SEE ALL REVIEWS</h1>

    {%for each_review in all_reviews%}
    <div class="container m-2, p-2">
      <div class="card">
        <div class="card-header">
          {{each_review['date']}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Rating: {{each_review['rating']}}</h5>
          <p class="card-text">{{each_review['comment']}}</p>
          <p class="card-text"> - {{each_review['reviewer_name']}}</p>

          <a href="{{url_for('edit_review', review_id=each_review['_id'])}}" class="btn btn-primary">Edit</a>
        </div>
        
      </div> 
    </div>
      
      {%endfor%}
{%endblock%}

{%block content%}

{%endblock%}