<!--This page displays all created reviews, which are stored in 'Reviews' Collection-->
<!--Page calls layout template-->
{%extends 'layout.template.html'%}

{%block title%}&nbsp;- Reviews{%endblock%}
{%block h1%}REVIEWS{%endblock%}

{%block content%}

  <div class="container bt-2 mt-4 pt-4 pb-4">

    <div class="mt-4 mb-4 pt-4 pb-4 justify-content-center"><p style="font-weight:500; text-align:center;">
      <p>Here are some of our visitors' reviews:</p>
    </div>
  
    <!--Messages to notify user when they successfully add, edit or delete a review will appear in this section on the page-->  
    <div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class='flashes alert alert-success' style="text-align:center;">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
    
    <!--Calling all reviews from the database-->  
    {%for each_review in all_reviews%}
      <div class="card pt-4, mt-4">
        <div class="card-header">
          {{each_review['date']}}
        </div>
        
        <div class="card-body">
          <h5 class="card-title">Rating: {{each_review['rating']}}</h5>
          <p class="card-text">{{each_review['comment']}}</p>
          <p class="card-text"> - {{each_review['reviewer_name']}}</p>
          
          <!--Edit Review Button-->
          <a href="{{url_for('edit_review', review_id=each_review['_id'])}}" class="btn btn-primary">Edit</a>
          
          <!--Delete Review Button-->
          <a href="{{url_for('confirm_delete_review', review_id=each_review['_id'])}}" class="btn btn-danger">Delete</a>
        </div>
      </div> 
    {%endfor%}  
  </div>

{%endblock%}


