{%extends 'layout.template.html'%}

{%block title%}{%endblock%}
{%block h1%}ALL REVIEWS{%endblock%}

{%block content%}


    {%for each_review in all_reviews%}
    <div class="container bt-2 mt-4 pt-4">
      <div class="card pt-4, mt-4">
        <div class="card-header">
          {{each_review['date']}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Rating: {{each_review['rating']}}</h5>
          <p class="card-text">{{each_review['comment']}}</p>
          <p class="card-text"> - {{each_review['reviewer_name']}}</p>

          <a href="{{url_for('edit_review', review_id=each_review['_id'])}}" class="btn btn-primary">Edit</a>
          <a href="{{url_for('confirm_delete_review', review_id=each_review['_id'])}}" class="btn btn-danger">Delete</a>
        </div>
        
      </div> 
    </div>
      
      {%endfor%}
{%endblock%}


