<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--CSS -->
    <link href="styles.css" type="text/css" rel="stylesheet">
    
    <title>Sofia's Bistro</title>
  </head>
  <body>

      <nav class="fixed-top" id="header-top" style="background-color:grey;">    
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href={{url_for('index')}}>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href={{url_for('about')}}>About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:white;" href={{url_for('menu')}}>Menu</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color:white;" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reviews</a>
              <div class="dropdown-menu" style="background-color:grey;">
                <a class="dropdown-item" style="color:white;" href={{url_for('see_all_reviews')}}>All Reviews</a>
                <a class="dropdown-item" style="color:white;" href={{url_for('add_review')}}>Add Review</a>
                <div class="dropdown-divider"></div>
              </div>
            </li>  
          </ul>
        
          <h1 class="nav justify-content-center" style="color:white;">{%block h1%}{%endblock%}</h1>
      </nav>

    <div class="container-fluid mt-4, pt-4">

      
      {%block content%}{%endblock%}
      
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>