{%extends 'layout.template.html'%}



{%block nav%}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link " href={{url_for('index')}}>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href={{url_for('about')}}>About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href={{url_for('menu')}}>Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{url_for('contact')}}>Contact</a>
  </li>
</ul>
<h1 class="nav justify-content-center">THIS IS THE MENU</h1>
{%endblock%}

{%block content%}

<div class="container mt-2 pt-2">

<!--Appetisers-->
<div>
<h2>Appetisers</h2>
{%for each_appetiser in appetisers%}

<div class="media">

  <img src="{{each_appetiser['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_appetiser['item_name']}}</h5>
    <p>{{each_appetiser['item_description']}}</p>
  </div>
</div>
  {%endfor%}
</div>

<!--Pastas-->
<div>
<h2>Pastas</h2>
{%for each_pasta in pastas%}

<div class="media">

  <img src="{{each_pasta['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_pasta['item_name']}}</h5>
    <p>{{each_pasta['item_description']}}</p>
  </div>
</div>
  {%endfor%}
</div>

<!--Pizzas-->
<div>
<h2>Pizzas</h2>
{%for each_pizza in pizzas%}

<div class="media">

  <img src="{{each_pizza['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_pizza['item_name']}}</h5>
    <p>{{each_pizza['item_description']}}</p>
  </div>
</div>
  {%endfor%}
</div>

<!--Entrees-->
<div>
<h2>Entrees</h2>
{%for each_entree in entrees%}

<div class="media">

  <img src="{{each_entree['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_entree['item_name']}}</h5>
    <p>{{each_entree['item_description']}}</p>
  </div>
</div>
  {%endfor%}
</div>

<!--Desserts-->
<div>
<h2>Desserts</h2>
{%for each_dessert in desserts%}

<div class="media">

  <img src="{{each_dessert['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_dessert['item_name']}}</h5>
    <p>{{each_dessert['item_description']}}</p>
  </div>
</div>
  {%endfor%}
</div>

{%endblock%}