{%extends 'layout.template.html'%}



{%block nav%}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link " href={{url_for('index')}}>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href={{url_for('about')}}>About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href={{url_for('menu')}}>Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{url_for('add_review')}}>Add Review</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={{url_for('see_all_reviews')}}>See All Reviews</a>
  </li>  
</ul>
<h1 class="nav justify-content-center">THIS IS THE MENU</h1>
{%endblock%}

{%block content%}

<div class="container mt-2 pt-2">

<!--Appetisers-->
<div class="pt-4">
<h2>Appetisers</h2>


<div class="media">
{%for each_appetiser in appetisers%}
  <img src="{{each_appetiser['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_appetiser['item_name']}}</h5>
    <p>{{each_appetiser['item_description']}}</p>
  </div>
  <a href="{{url_for('see_menu_reviews', menu_item_id=each_appetiser['_id'])}}" class="btn btn-primary">Reviews</a>   
{%endfor%}
</div>



</div>

<!--Pastas-->
<div>
<h2>Pastas</h2>


<div class="media">
{%for each_pasta in pastas%}
  <img src="{{each_pasta['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_pasta['item_name']}}</h5>
    <p>{{each_pasta['item_description']}}</p>
  <a href="{{url_for('see_menu_reviews', menu_item_id=each_pasta['_id'])}}" class="btn btn-primary">Reviews</a>      
  </div>
    {%endfor%}
</div>

</div>

<!--Pizzas-->
<div>
<h2>Pizzas</h2>


<div class="media">
{%for each_pizza in pizzas%}
  <img src="{{each_pizza['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_pizza['item_name']}}</h5>
    <p>{{each_pizza['item_description']}}</p>
  <a href="{{url_for('see_menu_reviews', menu_item_id=each_pizza['_id'])}}" class="btn btn-primary">Reviews</a>      
  </div>
  {%endfor%}  
</div>

</div>

<!--Entrees-->
<div>
<h2>Entrees</h2>


<div class="media">
{%for each_entree in entrees%}
  <img src="{{each_entree['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_entree['item_name']}}</h5>
    <p>{{each_entree['item_description']}}</p>
  <a href="{{url_for('see_menu_reviews', menu_item_id=each_entree['_id'])}}" class="btn btn-primary">Reviews</a>      
  </div>
  {%endfor%}  
</div>

</div>

<!--Desserts-->
<div>
<h2>Desserts</h2>


<div class="media">
{%for each_dessert in desserts%}
  <img src="{{each_dessert['item_image']}}" class="img-thumbnail align-self-start mr-3" alt="" style="height=10%; width=10%">
  <div class="media-body">
    <h5 class="mt-0">{{each_dessert['item_name']}}</h5>
    <p>{{each_dessert['item_description']}}</p>
  </div>
    <a href="{{url_for('see_menu_reviews', menu_item_id=each_dessert['_id'])}}" class="btn btn-primary">Reviews</a>    
    {%endfor%}
</div>

</div>

{%endblock%}