 {%extends 'layout.template.html'%}

{%block title%}{%endblock%}
{%block h1%}{%endblock%}
     
{%block content%}
    <h1>{{item_results['item_name']}}</h1>
    
    
    {%for each_data in reviews%}
      <div class="card">
        <div class="card-header">
          {{each_data['date']}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Rating: {{each_data['rating']}}</h5>
          <p class="card-text">{{each_data['comment']}}</p>
          <p class="card-text"> - {{each_data['reviewer_name']}}</p>

        </div>
      </div> 
      
      {%endfor%}

  
{%endblock%}